<% flash.each do |message| %>
  <%= message[1] %>
<% end %>
<% if @user.admin %>
  <%= "ADMIN" %>
<% end %>
<h3>Name: <%= @user.name %></h3>
<h3>Mood: <%= @user.mood %></h3>
<h3>Tickets: <%= @user.tickets %></h3>
<h3>Nausea: <%= @user.nausea %></h3>
<h3>Height: <%= @user.height %></h3>

<%= link_to "See attractions", attractions_path %>
<%= link_to "Log Out",  '/logout', method: :delete %>
